@import './var';

.card {
    width: 300px;
    height: 300px;
    background-color: $light-grey;
    border: 1px solid $white;
    border-radius: 10px;
}

img {
    border: 3px solid $red;
    border-radius: 5px;
    margin: 0;
    padding: 0;
}