<template>
  <div class="row m-0">
    <div class="col-2">
      <Button
        title="generate"
        text="Générer"
        @button-clicked="buttonClicked"
      />
    </div>
    <div class="col-4">
      <input
        v-model="quantityToGenerate"
        type="range"
        id="quantity-generation"
        min="1"
        max="20"
        class="me-1"
      >
      <label for="quantity-generation">{{ quantityToGenerate }} Personne{{ quantityToGenerate > 1 ? 's' : '' }}</label>
    </div>
    <div class="col-2">
      <select name="sex" id="sex" v-model="sex">
        <option value="both">Tous</option>
        <option value="male">Masculin</option>
        <option value="female">Féminin</option>
      </select> 
      <label for="sex">Genre</label>
    </div>
    <div class="col-2">
      <select name="age" id="age" v-model="age">
        <option value="both">Tous</option>
        <option value="young">Jeune</option>
        <option value="old">Vieux</option>
      </select> 
      <label for="sex">Age</label>
    </div>
  </div>
  
  <div class="row m-0">
    <template
      v-for="person in people"
      :key="person.name+person.surname+person.age.toString()"
    >
      <Card
        :person="person"
      />
    </template>
  </div>
</template>
  
<script lang="ts">
import { Options, Vue } from 'vue-class-component';
import Button from './Button.vue';
import getRandPerson from '@/utils/generation';
import Person from '@/models/person';
import Card from './Card.vue'

@Options({
  components: {
    Button,
    Card,
  }
})
export default class Board extends Vue {
  people: Person[] = [];

  quantityToGenerate = 1;

  sex: "male" | "female" | "both" = "both";

  age: "young" | "old" | "both" = "both";

  buttonClicked(title: string): void {
    this.people = [];
    for (let i=0; i<this.quantityToGenerate; i++) {
      this.people.push(getRandPerson(
        this.sex,
        this.age,
      ));
    }
  }
}
</script>