<template>
  <button
    class="w-100"
    @click.prevent.stop.capture="click"
  >
    {{ text }}
  </button>
</template>
  
<script lang="ts">
import { Options, prop, Vue } from 'vue-class-component';

class Props {
    title: string = prop({
        required: true,
    });
    text: string = prop({
        required: true,
    });
}

@Options({

})
export default class Button extends Vue.with(Props) {
    click(): void {
        this.$emit('buttonClicked', this.title);
    }
}
</script>