<template>
    <div class="card m-1 ms-2 text-center p-1 flex">
        <div class="row">
            <img 
                :src="'img/'+person.photoPath"
                class="m-1 ms-3 p-0 col-5"
            >
            <div class="col-6 mt-2 me-1">
                <div class="row fs-4">{{ person.surname + " " + person.name }}</div>
                <div class="row fs-5">
                    <div class="col-2">
                        <font-awesome-icon 
                        :icon="['fas', 'fa-mars']"
                        class="ms-1"
                        v-if="person.sex==='male'"
                        />
                        <font-awesome-icon 
                            :icon="['fas', 'fa-venus']"
                            v-else
                        />
                    </div>
                    <div class="col-9">
                        {{ person.age }} ans
                    </div>
                </div>
                <div class="row fs-6">
                    {{ person.resonance + " (" + person.dyscrasie + ")"}}
                </div>
            </div>
        </div>
        <div class="row ps-3 pe-3">
            {{ person.activity.name + ": " + person.activity.description }}
        </div>
        <div class="row ps-3 pe-3 pt-3">
            {{ 'Veut: ' + person.will }}
        </div>
    </div>
</template>
  
<script lang="ts">
import Person from '@/models/person';
import { Options, prop, Vue } from 'vue-class-component';

class Props {
    person: Person = prop({
        required: true,
    })
}

@Options({

})
export default class HelloWorld extends Vue.with(Props) {

}
</script>