<template>
  <Board/>
</template>

<script lang="ts">
import { Options, Vue } from 'vue-class-component';
import Board from './components/Board.vue';

@Options({
  components: {
    Board,
  },
})
export default class App extends Vue {}
</script>
